
language: python

python:
  - 3.4
  - 3.5
  - 3.6

sudo: false

addons:
    apt:
       packages:
       - libmysqlclient-dev
 
services:
  - mysql
  - redis

virtualenv:

before_install:
  - export DJANGO_SETTINGS_MODULE=editgroups.settings
  - export PYTHONPATH=$HOME/builds/Wikidata/editgroups
  - export PIP_USE_MIRRORS=true
  - echo "from .dev import *" > editgroups/settings/__init__.py
  - cp editgroups/settings/secret_travis.py editgroups/settings/secret.py

install:
  - pip install setuptools --upgrade
  - pip install -r requirements.txt --upgrade
  - pip install coveralls
  - pip freeze

before_script:
  - mysql --version
  - mysql -u travis -e 'CREATE DATABASE editgroups;'

script:
  - coverage run --source=editgroups,store,revert,tagging --omit=*/migrations/*,editgroups/settings/* manage.py test -v 2

after_success:
  - coveralls

