sseclient
django==5.0.9
django-bulk-update==2.2.0
django-redis-cache==3.0.1
django-cache-machine==1.2.0
djangorestframework==3.15.2
django-filter==24.3
django-extensions==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
git+https://github.com/python-social-auth/social-app-django.git@1225f4fadb5e88f54711cc111931054d5de985c7
html5lib==1.1
cached-property==2.0.1
requests-oauthlib==2.0.0
celery==5.4.0
requests-mock==1.12.1
lxml==5.3.2
djangorestframework-csv==3.0.2
