sseclient
django>=2.0,<2.1
django-bulk-update
django-redis-cache
django-cache-machine
django-rest-framework
django-filter
python-dateutil
social-auth-app-django
mysqlclient
html5lib
cached-property
requests-oauthlib
celery
requests-mock
lxml
