{% extends "editgroups/common.html" %}

{% load parsetime %}

{% block title %}
Undoing "{{ batch.summary }}"
{% endblock %}

{% block mainBody %}
<div class="page-header">
<h3>Undoing edit group by <a href="https://www.wikidata.org/wiki/User:{{ batch.user }}">{{ batch.user }}</a>: {{ batch.summary }} ({{ batch.uid }})</h3>
</div>
<div class="revert-dialog">
    <p>You are about to undo {{ batch.nb_revertable_edits }} edits{% if batch.nb_undeleted_new_pages %}, including the creation of {{ batch.nb_undeleted_new_pages }} items{% endif %}.</p>
    <form method="POST" action="{% url "submit-revert" batch.tool.shortid batch.uid %}">
       {% csrf_token %}
       {{ form }}
       <br /> 
       <br />
       <div class="btn-group" role="group">
           <a class="btn btn-default" href="{{ batch.url }}">Back</a><input class="btn btn-success" type="submit" value="Undo entire group" />
        </div>
    </form>
</div>
{% endblock %}
