{% extends "editgroups/common.html" %}

{% load parsetime %}
{% load ago %}

{% block title %}
EditGroups
{% endblock %}

{% block mainBody %}
<h3>Recent edit groups</h3>
<table class="table table-striped table-condensed">
        <tr>
                <th>UID</th>
                <th>User</th>
                <th>Summary</th>
                <th class="numeric-column">Tags</th>
                <th class="numeric-column">Edits/min</th>
                <th class="numeric-column">Edits&nbsp;&nbsp;</th>
                <th>Latest edit</th>
                <th>Tool</th>
        </tr>
{% for batch in results %}
        <tr>
                <td><a href="{{ batch.url }}">{{ batch.uid }}</a></td>
                <td><a href="https://www.wikidata.org/wiki/User:{{ batch.author }}">{{ batch.author }}</a></td>
                <td><a href="{{ batch.url }}">{{ batch.summary }}</a></td>
                <td class="numeric-column">{% for tag in batch.tags %}
                        {% if tag.display_name %}<span class="label" style="background-color: {{ tag.color }}">{{ tag.display_name }}</span>{% endif %}
                {% endfor %}</td>
                <td class="numeric-column">{{ batch.editing_speed }}</td>
                <td class="numeric-column">{{ batch.nb_edits }}&nbsp;&nbsp;</td>
                <td>{{ batch.ended|parsetime|ago }}</td>
                <td><a href="{{ batch.tool.url }}">{{ batch.tool.name }}</a></td>
        </tr>
{% endfor %}
</table>
{% include "store/pager.html" %}
{% endblock %}
