{% extends "editgroups/common.html" %}

{% load parsetime %}
{% load diffsize %}
{% load secondsduration %}
{% load isadmin %}

{% block title %}
{{ summary }}
{% endblock %}

{% block mainBody %}
<div class="page-header">
<h3>Edit group by <a href="https://www.wikidata.org/wiki/User:{{ author }}">{{ author }}</a>: {{ summary }} ({{ uid }})</h3>
</div>
{% if reverted_batch %}
<div class="alert alert-primary reverted-batch" role="alert">
   <p>This batch reverts <a href="{{ reverted_batch.url }}">{{ reverted_batch.full_uid }}: {{ reverted_batch.summary }}</a> by <a href="https://www.wikidata.org/wiki/User:{{ reverted_batch.author }}">{{ reverted_batch.author }}</a>.</p>
</div>
{% endif %}

<p>
{% for tag in sorted_tags %}
{% if tag.display_name %}<span class="label" style="background-color: {{ tag.color }}">{{ tag.display_name }}</span>{% endif %}
{% endfor %}
</p>

<table class="table batch-details">
        <tr>
                <th>Execution</th>
        </tr>
        <tr>
        <tr>
                <td>Tool</td>
                <td><a href="{{ tool.url }}">{{ tool.name }}</a></td>
        </tr>
        <tr>
                <td>Started</td>
                <td>{{ started|parsetime }}</td>
        </tr>
        <tr>
                <td>Ended</td>
                <td>{{ ended|parsetime }}</td>
        </tr>
        <tr>
                <td>Duration</td>
                <td>{{ duration|secondsduration }}</td>
        </tr>
</table>
<table class="table batch-details">
        <tr>
                <th>Edits</th>
        </tr>
        <tr>
                <td>Number of edits</td>
                <td>{{ nb_edits }}</td>
        </tr>
        <tr>
                <td>Edits undone</td>
                <td>{{ nb_reverted }}</td>
        </tr>
        <tr>
                <td>Average size difference</td>
                <td>{{ avg_diffsize|diffsize }}</td>
        </tr>
        <tr>
                <td>Speed</td>
                <td>{{ editing_speed }} edits/min</td>
        </tr>
</table>
<table class="table batch-details">
        <tr>
                <th>Entities</th>
        </tr>
        <tr>
                <td>Existing entities edited</td>
                <td>{{ nb_existing_pages }}</td>
        </tr>
        <tr>
                <td>New entities created</td>
                <td>{{ nb_new_pages }}</td>
        </tr>
        <tr>
                <td>Total entities touched</td>
                <td>{{ nb_pages }}</td>
        </tr>
        <tr>
                <td>Speed</td>
                <td>{{ entities_speed }} entities/min</td>
        </tr>
</table>

<h4>Actions</h4>

<!-- this form should be inside the conditionals (it is only used when stopping a revert job) but somehow it breaks the button group -->
<form method="POST" action="{% url "stop-revert" tool.shortid uid %}">
{% csrf_token %}
<div class="btn-group" role="group" aria-label="actions">
    <a class="btn btn-default" href="https://www.wikidata.org/w/index.php?action=edit&amp;preload=Wikidata:Edit+groups/Preload&amp;title=Wikidata:Edit+groups/{{ full_uid }}&amp;preloadparams%5b0%5d={{ full_uid }}&amp;preloadparams%5b2%5d={{summary|urlencode}}&amp;preloadparams%5b3%5d={{ author }}&amp;preloadparams%5b4%5d={{ nb_edits }}&amp;preloadparams%5b5%5d={{ edits.0.title|urlencode }}&amp;preloadparams%5b6%5d={{ edits.0.oldrevid }}&amp;preloadparams%5b7%5d={{ edits.0.newrevid }}">Discuss</a>
    {% if active_revert_task %}
        {% if active_revert_task.author.id == user.id %}
                <input type="submit" class="btn btn-danger" value="Stop undoing" />
        {% else %}
            <button class="btn btn-default disabled">{{ active_revert_task.author.username }} is undoing this group</button>
        {% endif %}
    {% else %}
        {% if can_be_reverted %}
            {% if nb_new_pages > 0 %}
                {% if user.is_authenticated and user|isadmin %}
                     <a class="btn btn-default" href="{% url "initiate-revert" tool.shortid uid %}">Undo and delete/restore entire group</a>
                {% else %}
                     <a class="btn btn-default" href="https://www.wikidata.org/w/index.php?title=Wikidata:Requests_for_deletions&action=edit&section=new&preload=Wikidata:Edit+groups/Revert%20preload&amp;preloadparams%5b0%5d={{ full_uid }}&amp;preloadparams%5b2%5d={{summary|urlencode}}&amp;preloadparams%5b3%5d={{ author }}&amp;preloadparams%5b4%5d={{ nb_edits }}&amp;preloadparams%5b5%5d={{ edits.0.title|urlencode }}&amp;preloadparams%5b6%5d={{ edits.0.oldrevid }}&amp;preloadparams%5b7%5d={{ edits.0.newrevid }}&amp;preloadtitle=Edit%20group%20[[toollabs:editgroups/b/{{ full_uid }}|{{ full_uid }}]]">Ask an admin to undo</a>
                {% endif %}
            {% else %}
                <a class="btn btn-default" href="{% url "initiate-revert" tool.shortid uid %}">Undo entire group</a>
            {% endif %}
        {% else %}
            <button class="btn btn-default disabled">Nothing to undo</button>
        {% endif %}
    {% endif %}
</div>
</form>

{% if reverting_batches %}
<h4>Reverting batches</h4>
<div class="reverting-batches">
<ul>
{% for batch in reverting_batches %}
   <li><a href="{{ batch.url }}">{{ batch.full_uid }}</a> by <a href="https://www.wikidata.org/wiki/User:{{ batch.author }}">{{ batch.author }}</a> (reason: {{ batch.summary }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

<h4>Latest edits</h4>
        <ul>
        {% for edit in edits %}
        {% if not forloop.last or forloop.counter < 10 %}
            <li>
                {% include "store/editline.html" %}
            </li>
        {% else %}
            <a href="{% url "batch-edits" tool.shortid uid %}">See all</a>
        {% endif %}
        {% endfor %}
        </ul>
{% endblock %}
