{% extends "editgroups/common.html" %}

{% load parsetime %}
{% load tagbutton %}
{% load ago %}

{% block title %}
EditGroups
{% endblock %}

{% block mainBody %}
<h3>Recent edit groups</h3>
<table class="table table-striped table-condensed">
        <tr>
                <th>UID</th>
                <th>User</th>
                <th>Summary</th>
                <th class="numeric-column">Tags</th>
                <th class="numeric-column">Edits/min</th>
                <th class="numeric-column">Edits&nbsp;&nbsp;</th>
                <th>Latest edit</th>
                <th>Tool</th>
        </tr>
{% for batch in results %}
        <tr>
                <td><a href="{{ batch.url }}">{{ batch.uid }}</a></td>
                <td>
                    {% if batch.author == request.GET.user %}
                    <a href="{% set_get_param "user" None %}" class="selected-user">{{ batch.author }}</a>
                    {% else %}
                    <a href="{% set_get_param "user" batch.author %}">{{ batch.author }}</a>
                    {% endif %}
                </td>
                <td><a href="{{ batch.url }}">{{ batch.summary }}</a></td>
                <td class="numeric-column">{% for tag in batch.sorted_tags %}
                        {% if tag.display_name %}<a href="{% tagbutton tag %}" class="label {% if tag.id in tagging_form.tags %}selected-tag{% endif %}" style="background-color: {{ tag.color }}">{{ tag.display_name }}</a>{% endif %}
                {% endfor %}</td>
                <td class="numeric-column">{{ batch.editing_speed }}</td>
                <td class="numeric-column">{{ batch.nb_edits }}&nbsp;&nbsp;</td>
                <td>{{ batch.ended|parsetime|ago }}</td>
                <td>
                    {% if batch.tool.shortid == request.GET.tool %}
                    <a href="{% set_get_param "tool" None %}" class="selected-user">{{ batch.tool.name }}</a>
                    {% else %}
                    <a href="{% set_get_param "tool" batch.tool.shortid %}">{{ batch.tool.name }}</a>
                    {% endif %}
                </td>
        </tr>
{% endfor %}
</table>
{% include "store/pager.html" %}
{% endblock %}
