{% extends "editgroups/common.html" %}

{% load parsetime %}
{% load diffsize %}
{% load secondsduration %}

{% block title %}
{{ summary }}
{% endblock %}

{% block mainBody %}
<div class="page-header">
<h3>Edit group by <a href="https://www.wikidata.org/wiki/User:{{ user }}">{{ user }}</a>: {{ summary }} ({{ uid }})</h3>
</div>
<table class="table batch-details">
        <tr>
                <th>Execution</th>
        </tr>
        <tr>
        <tr>
                <td>Tool</td>
                <td><a href="{{ tool.url }}">{{ tool.name }}</a></td>
        </tr>
        <tr>
                <td>Started</td>
                <td>{{ started|parsetime }}</td>
        </tr>
        <tr>
                <td>Ended</td>
                <td>{{ ended|parsetime }}</td>
        </tr>
        <tr>
                <td>Duration</td>
                <td>{{ duration|secondsduration }}</td>
        </tr>
</table>
<table class="table batch-details">
        <tr>
                <th>Edits</th>
        </tr>
        <tr>
                <td>Number of edits</td>
                <td>{{ nb_edits }}</td>
        </tr>
        <tr>
                <td>Edits undone</td>
                <td>{{ nb_reverted }}</td>
        </tr>
        <tr>
                <td>Average size difference</td>
                <td>{{ avg_diffsize|diffsize }}</td>
        </tr>
        <tr>
                <td>Speed</td>
                <td>{{ editing_speed }} edits/min</td>
        </tr>
</table>
<table class="table batch-details">
        <tr>
                <th>Entities</th>
        </tr>
        <tr>
                <td>Existing entities edited</td>
                <td>{{ nb_existing_pages }}</td>
        </tr>
        <tr>
                <td>New entities created</td>
                <td>{{ nb_new_pages }}</td>
        </tr>
        <tr>
                <td>Total entities touched</td>
                <td>{{ nb_pages }}</td>
        </tr>
        <tr>
                <td>Speed</td>
                <td>{{ entities_speed }} entities/min</td>
        </tr>
</table>

<h4>Latest edits</h4>
        <ul>
        {% for edit in edits %}
        <li>
                {% if not forloop.last or forloop.counter < 10 %}
                {% include "store/editline.html" %}
                {% else %}
                ...
                {% endif %}
        </li>
        {% endfor %}
        </ul>
{% endblock %}
