{% load diffsize %}
{% load parsetime %}
{% load fixwikilinks %}

({% if edit.oldrevid %}<a href="{{ edit.url }}" class="mw-changeslist-diff" title="{{ edit.title }}">diff</a> | {% endif %}<a href="{{ MEDIAWIKI_INDEX_ENDPOINT }}?title={{ edit.title }}&amp;action=history"
class="mw-changeslist-history" title="{{ edit.title }}">hist</a>)

<span class="mw-changeslist-separator">. .</span> 

<span class="mw-title"><a href="{{ edit.uri }}" class="mw-changeslist-title"><span class="wb-itemlink"><span class="wb-itemlink-label"
dir="ltr" lang="en">{{ edit.title }}</span></span></a></span>;

{% if edit.changetype == 'delete' %}
deleted
{% elif edit.changetype == 'restore' %}
restored
{% endif %}

<span class="mw-changeslist-date">{{ edit.timestamp|parsetime }}</span> <span
class="mw-changeslist-separator">. .</span>

{% if edit.newrevid %}
{{ edit|diffsize }}
{% endif %}

({% if edit.reverted %}<span class="edit-reverted">{% if edit.oldrevid %}undone{% elif edit.changetype == 'delete' %}restored{% else %}deleted{% endif %}</span>{% else %}<a class="revert-link" href="{{ edit.revert_url }}">{% if edit.oldrevid %}undo{% elif edit.changetype == 'delete' %}restore{% else %}delete{% endif %}</a>{% endif %})

<span class="mw-changeslist-separator">. .</span> 

<a href="{{ USER_BASE_URL }}{{ edit.user }}" class="mw-userlink"
title="User:{{ edit.user }}"><bdi>{{ edit.user }}</bdi></a> <span class="mw-usertoollinks">(<a href="{{ USER_TALK_BASE_URL }}{{ edit.user }}" class="mw-usertoollinks-talk" title="User talk:{{ edit.user }}">talk</a> | <a href="{{ CONTRIBUTIONS_BASE_URL }}{{ edit.user }}" class="mw-usertoollinks-contribs" title="Special:Contributions/{{ edit.user }}">contribs</a>)</span>‎

<span class="comment">({% autoescape off %}{{ edit.parsedcomment|fixwikilinks }}{% endautoescape %})</span>
