{% extends "editgroups/common.html" %}

{% load parsetime %}
{% load diffsize %}
{% load secondsduration %}

{% block title %}
Tools
{% endblock %}

{% block mainBody %}
<div class="page-header">
<h3>Tool statistics</h3>
</div>
        <table class="table">
        <thead>
        <tr>
                <th>Tool</th>
                <th>Number of batches</th>
                <th>Unique users</th>
        </tr>
        </thead>
        <tbody>
        {% for tool in results %}
        <tr>
                <td>
                {% if tool.url %}
                     <a href="{{ tool.url }}">{{ tool.name }}</a>
                {% else %}
                     {{ tool.name }}
                {% endif %}
                </td>
                <td><a href="{% url "list-tool-batches-redirect" tool.shortid %}">{{ tool.nb_batches }}</a></td>
                <td>{{ tool.nb_unique_users }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
