
body {
        font-family: sans-serif;
}

.mainBody {
        margin: 3em;
}

.batch-details {
        width: auto;
        display: inline-block;
        margin-right: 3em;
}

.batch-details th {
        border-top: none !important;
}

.mw-plusminus-pos {
        color: #006400;
}

.mw-plusminus-neg {
        color: #8b0000;
}

span.comment {
        font-style: italic;
        unicode-bidi: -moz-isolate;
        unicode-bidi: isolate;
}

.autocomment {
        color: #72777d;
}

.numeric-column {
        text-align: right;
}

.revert-dialog {
        width: 25em;
        margin: auto;
}

.revert-dialog .btn-group {
        width: 100%;
}

.revert-dialog .btn-group .btn {
        width: 50%;
}

#id_comment {
        width: 100%;
}
